.selector-drop-down{
  background: #1ebbd7;
  color: white;
  height: 50px;
  font-size: 25px;
  margin-right: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.form-submit{
  color: white;
  background: #1ebbd7;
  border: none;
  border-radius:5px;
  height: 40px;
  font-size: 20px;
  margin-top: 10px;
}

.sms-remove{
  color: white;
  background: #1ebbd7;
  border: none;
  border-radius:5px;
  height: 40px;
  font-size: 20px;
  margin-top: 10px;
}

