.input-text-number {
  margin: 5px 5px 5px 0;
  background: #1ebbd7;
  color: white;
  border: none;
  width: 200px;
  height: 40px;
  font-size: 25px;
  padding:5px;
  border-radius: 2px;
}

.input-text-message {
  margin: 5px 5px 5px 0px;
  background: #1ebbd7;
  color: white;
  border: none;
  width: 270px;
  height: 40px;
  font-size: 25px;
  padding:5px;
  border-radius: 2px;
} 

.input-time {
  margin: 5px 5px 5px 0;
  background: #1ebbd7;
  color: white;
  border: none;
  width: 50px;
  height: 40px;
  font-size: 25px;
  padding:5px;
  text-align: center;
  border-radius: 5px;
}

.input-time-colon{
  display: inline-block;
  margin-left: 5px;
  margin-right: 10px;
  color:white;
  font-size: 35px;
}

