.sms-list-item{
  color: white;
  background: #189ad3;
  font-size: 19px;
  border-radius: 5px;
  font-family: Comic Sans MS;
}

.sms-list-item-link{
  color:white;
  font-family: Comic Sans MS;
}

.sms-list-item-text{
  padding-bottom: 5px;
  padding-left:5px;
  padding-right:5px;
  word-wrap: break-word;
}