.form-error{
  color:white;
  background: #1ebbd7;
  font-size: 25px;
  border-radius:2px;
}

.sms-form-header{
  color: whitesmoke;
  font-size: 30px;
}

.sms-form {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
}

.sms-edit-form{
  display:inline;
}